#frame {
	PADDING-RIGHT: 0px; MARGIN-TOP: 25px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 100px; WIDTH: 795px; MARGIN-RIGHT: auto; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#contentleft {
	PADDING-RIGHT: 0px; MARGIN-TOP: 15px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 100px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#contentcenter {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; FLOAT: left; BORDER-BOTTOM-COLOR: #fff; PADDING-BOTTOM: 18px; MARGIN-LEFT: 18px; BORDER-LEFT: #000000 1px solid; WIDTH: 456px; BORDER-TOP-COLOR: #fff; PADDING-TOP: 18px; BORDER-RIGHT-COLOR: #fff
}
#contentheader {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#desc {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; WIDTH: 450px; PADDING-TOP: 8px
}
#col1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 47%; PADDING-TOP: 5px
}
#col2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 47%; PADDING-TOP: 5px
}
#counter {
	LEFT: 2px; WIDTH: 42px; POSITION: absolute; TOP: 2000px
}
